@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-teal: #20909a;
  --color-footer-dark: #05262b;
}

.chevron-list {
  margin: 0;
}

.chevron-list li::marker {
  font-size: 40px;
  vertical-align: middle;
  line-height: 20px;
}

.chevron-list li:last-child::marker {
  content: " ";
}

.chevron-list li:last-child {
  margin-top: 8px;
}
